<%#= error_messages_for(@content) %
<%= link_to('Back', contents_path, class: 'back-link') %>

<div>
  <h2>Create a Content</h2>

  <%= form_for(@content) do |form| %>
    <table summary="content form fields">
      <tr>
        <th>Name</th>
        <td><%= form.text_field :name, required: true %> </td>
      </tr>
      <tr>
        <th>Description</th>
        <td><%= form.text_field :description %></td>
      </tr>
      <tr>
        <th>Certificate</th>
        <td><%= form.text_field :certificate %></td>
      </tr>
      <tr>
        <th>Genre</th>
        <td><%= form.text_field :genre %></td>
      </tr>
      <tr>
        <th>Has Seasons</th>
        <td><%= form.check_box :with_seasons %></td>
      </tr>
    </table>
    <div class="form-buttons">
      <%= form.submit('Create content') %>
    </div>
  <% end %>
</div>