<%= link_to('Back', contents_path, class: 'back-link') %>

<div class="contents show">
	<h2><%= @content.name.upcase %> Details</h2>
	<table summary="content detail view">
  <tr>
    <th>Name</th>
    <td><%= @content.name %></td>
  </tr>
  <tr>
    <th>Description</th>
    <td><%= @content.description %></td>
  </tr>
  <tr>
    <th>Certificate</th>
    <td><%= @content.certificate %></td>
  </tr>
  <tr>
    <th>Genre</th>
    <td><%= @content.genre %></td>
  </tr>
  <tr>
    <th>Created at</th>
    <td><%= @content.created_at %></td>
  </tr>
  <tr>
    <th>Updated at</th>
    <td><%= @content.updated_at %></td>
  </tr>
</table>
  <!-- Displaying season details -->
  <% if @content.seasons.present? %>
  <p class="attr-heading">Season Details</p>
    <% @content.seasons.each do |season| %>
      <table class="table-show">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Certificate</th>
        </tr>
        <tr>
          <td class="attributes"><%= season.name %></td>
          <td class="attributes"><%= season.description %></td>
          <td class="attributes"><%= season.certificate %></td>
        </tr>
      </table>
    

    <!-- Displaying Episodes Details -->
    <% if season.episodes.present? %>
    <p class="attr-heading">Episodes Details</p>
      <% season.episodes.each do |episode| %>
        <table class="table-show">
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Certificate</th>
          </tr>
          <tr>
            <td class="attributes"><%= episode.name %></td>
            <td class="attributes"><%= episode.description %></td>
          </tr>
        </table>
    <% end %>
  <% end %>
<% end %>
<% end %>
</div>



